@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?77651255');
  src: url('../fonts/fontello.eot?77651255#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?77651255') format('woff2'),
       url('../fonts/fontello.woff?77651255') format('woff'),
       url('../fonts/fontello.ttf?77651255') format('truetype'),
       url('../fonts/fontello.svg?77651255#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;

  
  width: 16px;
  text-align: center;
  margin-right: 10px;
  

}
 
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-info:before { content: '\e705'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-bell:before { content: '\f0f3'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */